img {
  height: 200px;
  padding: 30px;
  display: inline-block;
  justify-content: space-around;
  align-items: center;
}

#img-0 {

}

#img-1 {
  
}

#img-2 {
  
}

#img-3 {
  
}

#img-4 {
  
}

#img-5 {
  
}

#img-6 {
  
}

#img-7 {
  
}

#img-8 {
  
}

#img-9 {
  
}

#img-10 {
  
}

#img-11 {
  
}